.input {
    display: flex;
    flex-direction: column;
    margin: 22px 239px 25px 29px;
    min-width: 240px;
}

@media screen and (max-width: 425px) {
    .input {
        margin-bottom: 33px;
    }
}

@media screen and (min-width: 426px) and (max-width: 900px) {
    .input {
        margin-right: 150px;
    }
}