.input__text_type_name {
    font-size: 42px;
    line-height: 48px;
    font-weight: 500;
    margin: 0;
}

@media screen and (max-width: 425px) {
    .input__text_type_name {
        font-size: 27px; 
        line-height: 33px;
        margin: auto;
    }
}

@media screen and (min-width: 426px) and (max-width: 900px) {
    .input__text_type_name {
    font-size: 20px;
    line-height: 22px;
}
}
